<div class="container-fluid">
  <div class="row">
    <div class="col-2 col-md-2 col-xl-2 bd-sidebar">  
      <div class="row">
        <div class="col-12">
          <%= render "static_controller/menu" %>
        </div>
      </div>
    </div>
    <div class="col-9 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
      <div class="top-margin">

<!--           COMMENTS SECTION -->
        <div class="row">
          <div class="col-12">
            <h4> Comments section </h4>
            <br/>
            <div class="my-3 p-3 bg-grey rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Comments</h6>
              <div class="media text-muted pt-3">
                <img src="http://masonvotes.gmu.edu/files/2012/03/Obama.jpg" alt="Obama" class="mr-2 rounded">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@barackobama</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <img src="http://masonvotes.gmu.edu/files/2012/03/Obama.jpg" alt="Obama" class="mr-2 rounded">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@barackobama</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
              <div class="media text-muted pt-3">
                <img src="http://masonvotes.gmu.edu/files/2012/03/Obama.jpg" alt="Obama" class="mr-2 rounded">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@barackobama</strong>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
              </div>
            </div>
          </div>
        </div>
<!--           COMMENT SECTION END -->
<br/>
<!--           ADD COMMENT FORM -->
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="exampleTextarea">Write a comment</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary">Add a comment</button>
          </div>
        </div>
<!--           ADD COMMENT FORM END -->
      </div>
    </div>
  </div>
</div>



