<div class="container-fluid">
  <div class="row">
    <div class="col-2 col-md-2 col-xl-2 bd-sidebar">  
      <div class="row">
        <div class="col-12">
          <%= render "static_controller/menu" %>
        </div>
      </div>
    </div>
    <div class="col-9 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
      <div class="top-margin">
        <p class="lead-title-show"> Introduction </h4>
        <br/>
          <p class="lead">
              Get started with this UI Kit. <br/>
              You can choose any organism and template you want by clicking on the menu on the left. <br/>
              Inspect the element with the developer console to get the source code.
          </p>
          </div>
      </div>
    </div>
  </div>
</div>



