<div class="container-fluid">
  <div class="row">
    <div class="col-2 col-md-2 col-xl-2 bd-sidebar">  
      <div class="row">
        <div class="col-12">
          <%= render "static_controller/menu" %>
        </div>
      </div>
    </div>
    <main class="col-9 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
      <div class="top-margin">
        <h4> Footer </h4>
        <br/>
         <!-- Footer -->
            <footer class="page-footer font-small bg-primary">

              <!-- Copyright -->
              <div class="footer-copyright text-center py-3" style="color: #FFFFFF;">© 2019 Copyright:
                <a href="https://bootswatch.com/flatly/"> bootswatch.com/</a>
              </div>
              <!-- Copyright -->

            </footer>
        <!-- Footer -->
      </div>
    </main>
  </div>
</div>

