<div class="container-fluid">
  <div class="row">
    <div class="col-2 col-md-2 col-xl-2 bd-sidebar">  
      <div class="row">
        <div class="col-12">
          <%= render "static_controller/menu" %>
        </div>
      </div>
    </div>
    <div class="col-9 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
      <div class="top-margin">

<!--           RESOURCES SECTION -->
        <div class="row">
          <div class="col-12">
            <h4> Resources view template </h4>
            <br/>
<!--           RESOURCES VIEW TEMPLATE  -->
              <div class="container">
                <div class="my-3 p-3 bg-grey rounded box-shadow">
  <!--           UPPER PART  -->
                  <div class="row">
                    <div class="col-8">
                      <img class="card-img-top" src="https://chefalyssaskitchen.com/wp-content/uploads/2018/10/HP-Slider1_600x400-1.png" alt="Kitchen workshop">
                    </div>
                    <div class="col-4 descr">
                      <p class="lead-title-sm">Paris Kitchen Workshop</p>
                      <p>Friday, December 20th 2019</p>
                      <p>Hosted by: <strong>Barack Obama</strong></p>
                      <br/>
                      <button type="submit" class="btn btn-block btn-primary">Join the event</button>
                    </div>
                  </div>
  <!--           END UPPER PART  --> 

  <!--           MIDDLE PART  --> 
                  <div class="row">
                    <div class="col-12">
                      <div class="sep-bar">
                        <div class="row">
                          <div class="col-4">
                          </div>
                          <div class="col-4">
                            <p class ="lead-right"> Tickets available </p>
                          </div>
                          <div class="col-4">
                            <button type="button" class="btn btn-block btn-outline-primary">Details</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  <!--           END MIDDLE PART  --> 
    <!--           UPPER PART  -->
                  <div class="row">
                    <div class="col-8">
                      <p class="lead-title-xsm"> Description </h4>
                      <br/>
                      <p style="font-size: 12pt; text-align: justify;">
                          Art is looking for volunteers to help expedite his classes-weekday evenings and weekends. In exchange for helping with kitchen clean-up you can earn a free Gift Certificate that you can use for a future class or gift to someone else.  Collect enough and you can have your own private party with your closest friends and family at The Kitchen Workshop. Call Art for details.
                      </p>
                    </div>
                    <div class="col-4">
                      <p class="lead-title-xsm">Date and Time</p>
                      <p>Friday, December 20th 2019</p>
                      <p>9:00am - 5:00pm, Paris Time</p>
                      <br/>
                      <br/>
                      <p class="lead-title-xsm">Address: </p>
                      <p><strong>Barack Obama's kitchen</strong></p>
                      <p>5 Parvis Alan Turing, 75013 Paris</p>
                      <br/>
                    </div>
                  </div>
  <!--           END UPPER PART  --> 
            </div>
          </div>
<!--           END RESOURCES VIEW TEMPLATE  -->
       </div>
<!--           COMMENT SECTION END -->
<br/>

      </div>
    </div>
  </div>
</div>



